:root {
  --bg-color: #ffffff;
  --bg-color-secondary: #f8f8f8;
  --bg-color-third: rgba(241, 241, 241, 0.91);

  --bg-card: #f6f6f6;

  --color-scroll: rgba(245, 124, 0, 0.38);
  --color-scroll-hover: #e0e0e0;
  --color-scroll-track: #c9c9c9;

  --text-color: rgb(43, 43, 43);
  --text-color-secodary: rgba(255, 255, 255, 0.93);
  --text-color-third: #fe9330;
  --text-color-fourth: #353535;

  --text-color-laranja: #F57C00;
  --text-secondary-laranja: #de7e3e;

  --bg-navbar: #e27602;
  --bg-navbar-hover: rgba(255, 255, 255, 0.91);
  --color-text-navbar: #de7e3e;
}

.dark {
  //--bg-color: #121212;
  --bg-color: #15191d;
  --bg-color-secondary: #212529;
  --bg-color-third: #212529;

  --bg-card: #25282a;

  --color-scroll: #4a4a4a;
  --color-scroll-hover: #3a3a3a;
  --color-scroll-track: rgba(38, 38, 38, 0.95);

  --text-color: #ffffff;
  --text-color-secodary: rgba(255, 255, 255, 0.9);
  --text-color-third: #474747;
  --text-color-fourth: #e8a052;

  --text-color-laranja: #F57C00;
  --text-secondary-laranja: #d6925f;

  --bg-navbar: #212529;
  --bg-navbar-hover: #e8a052;
  --color-text-navbar: #fff;
}

